
/* animation image style*/
.image{
	width: 250px;
	height: 150px;
	position: relative;
	 animation-name: image ;
	 animation-duration: 8s;
	 animation-iteration-count: infinite;

}

/* movement styling*/

@keyframes image{
	0%{ background-image: url(faw4.jpg); left: 0 top:0; border-radius: 80px 80px 80px 80px  ; }

	15%{ background-image: url(faw4.jpg); right: 0 top:0; border-radius: 80px 80px 80px 80px  ; }

	25% {background-image: url(faw4.jpg); left: 0; top:0; border-radius: 80px 80px 80px 80px  ;}

	30%{background-image: url(faw4.jpg); right:0 top:0; border-radius:80px 80px 80px 80px  ;}

	50%{background-image: url(faw4.jpg); left: 85%; top:0; border-radius: 80px 80px 80px 80px ;}

	65%{background-image: url(faw4.jpg); right:80%;top:0; border-radius: 80px 80px 80px 80px;}

	75%{ background-image: url(faw4.jpg); left:; top:0; border-radius: 80px 80px 80px 80px; }

	85%{background-image: url(faw4.jpg); right: 0 top:0; border-radius: 80px 80px 80px 80px ;}

	100%{ background-image: url(faw4.jpg);left: 0; top: 0; border-radius: 80px 80px 80px 80px ; }
	
}